input [type=submit] {

    width: 5vw;
    height: 8vw;
}

input[type="number"]
{
    width: 50%;
}

#trasferte{
    visibility: hidden;
}

body {
    background-color: lightcyan;
    font-family: sans-serif;
}
#container {/*per index*/
    padding: 2%;
    position: relative;
    left: 32.5vw;
    top: 15vh;
    alignment: center;
    background-color: lightgray;
    border-radius: 5%;
    width: 30vw;
    height: 40vh;
    text-align: center;

}

input[type="text"],input[type="password"],input[type=submit]{
    border-radius: 2%;
}

#modelcontainer{
    padding: 0.5%;
    position: relative;
    left: 15vw;
    top: -3vh;
    bottom: 20vh;
    background-color: lightgray;
    border-radius: 2%;
    width: fit-content;
    height: fit-content;
    overflow-x: auto;

}

#header{
    overflow-x: auto;
}

#container div {/*per index*/
    right: 2vw;
    display: table;
    align-content: center;
    margin: 2% 2% 7% 2%;
    width: 100%;
    clear: both;
}

table td{
    white-space: nowrap;
}

table {
    display:inline-block;
}